baseURL: "https://personal-blog-hoskad.vercel.app/"
title: Adrian Hoskins Blog

pagination:
  pagerSize: 3

enableGitInfo: false
pygmentsCodeFences: true
pygmentsCodefencesGuessSyntax: true
pygmentsUseClasses: true
metaDataFormat: yaml
languageCode: "en-us"
defaultContentLanguage: "en"
defaultContentLanguageInSubdir: false

languages:
  en:
    languageName: English
    weight: 1
    title: Adrian Hoskins Blog

params:
  colors:
  # light
    base_bg: '#ffffff'
    base_bg_2: '#fcfcfc'
    base_bg_3: '#f2f2f2'
    base_text: '#2f2e2a'
    base_text_2: '#535247'
    base_text_3: '#848484'
    primary_bg: '#46e385'
    primary_bg_2: '#55f884'
    primary_bg_3: '#46e385'
    primary_text: '#114c29'
    primary_text_2: '#f9f8ef'
    logo_text: '#202020'
    header_text: '#202020'
    hero_gradient: "#46e385"
    hero_gradient_2: "#46e385"
    
    # dark
    base_bg_dark: '#0b0b0b'
    base_bg_2_dark: '#212123'
    base_bg_3_dark: '#7e7e82'
    base_text_dark: '#ffffff'
    base_text_2_dark: '#bfc1c2'
    base_text_3_dark: '#a8a4a4'
    primary_bg_dark: '#46e385'
    primary_bg_2_dark: '#55f884'
    primary_bg_3_dark: '#46e385'
    primary_text_dark: '#114c29'
    primary_text_2_dark: '#f9f8ef'
    logo_text_dark: '#ffffff'
    header_text_dark: '#ffffff'
    hero_gradient_dark: "#46e385"
    hero_gradient_2_dark: "#46e385"
  
  fonts:
    use_google_fonts: false
    google_fonts_url: "https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;900&family=Space+Mono&display=swap"
    use_self_hosted_fonts: true # font files must be placed in /static/fonts folder and the @font-face definitions must be added to /static/fonts/fonts.css
    heading: Inter
    base: Inter
    monospace: Space Mono
    logo: Inter

  logo:
    logo_text: ""
    logo_image_desktop: ""
    logo_image_mobile: ""
    logo_image_desktop_invert: ""
    logo_image_mobile_invert: ""
    logo_image_desktop_height: "32px"
    logo_image_desktop_width: "32px"
    logo_image_mobile_height: "32px"
    logo_image_mobile_width: "32px"
    show_logo_image_on_mobile: false
    show_logo_image_on_desktop: false
    show_logo_text_on_mobile: false
    show_logo_text_on_desktop: false
    
  header: 
    fixed: false

  open_graph:
    og_type: "website"
    og_twitter_card: "summary"
    og_twitter_site: "@zerostaticio"
    og_twitter_creator: "@zerostaticio"

  dark_mode:
    enable_dark_mode: true
    show_dark_mode_toggle_in_header: true
    show_dark_mode_toggle_in_bottom: false
    show_dark_mode_toggle_in_mobile_menu: true

  cookie_banner:
    enabled: true
    show_manage_cookies_at_bottom: true

  analytics:
    disable_analytics_on_localhost: false # prevents polluting analytics data while developing but enabling can be useful
    google_analytics_id: "" # G-XXXXXXXXXX
    gtm_id: "" # GTM-XXXXXXXX
    plausible_data_domain: "" # mywebsite.com
    plausible_script_url: "" # if you use a self-hosted plausible enter the url
    umami_data_website_id: "" # ddd14336-5fb0-4cdd-8f32-e1bfa906cc2b
    umami_src: "" # https://analytics.eu.umami.is/script.js
  
  comments:
    commento:
      enabled: false # you must have a commento account and be on the correct domain. does not work locally.
    disqus:
      shortname: "zerostatic" # Your disqus shortcode for example "zerostatic". leave this blank ie "" to disable.

  menu: 
    show_dropdown_items_in_mobile_menu: false
    show_social_media_in_mobile_menu: true

  footer:
    enable_footer: false
    footer_title: "Adrian Hoskins"
    footer_description: "Personal Blog and Portfolio"
    enable_social_media_links: false
    enable_contact_details: false
    enable_languages: false
    enable_copyright: false
    enable_menu_footer_primary: false
    enable_menu_footer_secondary: false
    enable_menu_footer_tertiary: false
    footer_primary_menu_title: "Menu"
    footer_secondary_menu_title: ""
    footer_tertiary_menu_title: ""

  bottom:
    enabled: false
    enable_bottom_menu: false
    copyright_text: " 2025 Adrian Hoskins"
    show_rss_icon: false

menu:
  main:
    - name: Work
      url: work
      weight: 1
    - name: About
      url: about
      weight: 2
  footer_primary:
    - name: Work
      pageRef: work
      weight: 1
    - name: About
      pageRef: about
      weight: 2
    - name: Privacy Policy
      pageRef: privacy
      weight: 3
  bottom:
    - name: Privacy Policy
      pageRef: privacy
      weight: 1
    - name: Terms
      pageRef: terms
      weight: 2

permalinks:
  posts: 'blog/:year/:month/:title/'
  pages: ':slug/'

taxonomies:
  tag: tags
  category: categories
  portfolio: portfolio
  author: authors
